<div class="nav-header">
    <div class="brand-logo">
		<a href="/Dashboard/Index/">
            <span class="brand-title text-white">
                <b> HOTELIER </b>
            </span>
        </a>
    </div>
</div>